<button *ngIf="dataLoaded==false" class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
</button>
<div class="alert alert-success" role="alert" style="text-align: center">
    ARABALAR
</div>  
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model</th>
            <th>Günlük Ücret</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
        </tr>
    </tbody>
    
</table>